/* Order */
@layer reset, bootstrap, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
        border: none;
        background: transparent;
    }
}

/* Custom Bootstrap styles if necessary */
@layer bootstrap {
    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

/* PrimeNG Customizations */
@layer primeng {
    .p-button {
        background-color: #007ad9 !important; /* Add !important to ensure it overrides */
        color: #fff !important; /* Add !important to ensure it overrides */
    }
    /* Add other PrimeNG customizations here */
}


/* colors */

.bgcwhite {
    background-color: #e9eeed !important;
}

.bgcgray {
    background-color: #898b8b !important;
}

.bgcbrightgrean {
    background-color: #24c9aa !important;
}

.bgcgreen {
    background-color: #1c9c7c !important;
}

.bgcgreenygray {
    background-color: #769494 !important;
}

.bgcmainbg {
    background-color: #e4f8f4 !important;
}

.bgcmaincontainer {
    background-color: #f3fdfb !important;
}

.bgcdarckgreen {
    background-color: #001e18 !important;
}