<p>homeinsurance works!</p>

<section class="p-4 rounded my-3 w-50 mx-auto">
    <form class="form-border"  [formGroup]="addhomeinsurance" (ngSubmit)="addhome()">
        <div class="mb-2">
            <label for="YearlyCoverage">Yearly Coverage</label>
            <input min="0" id="YearlyCoverage" formControlName="YearlyCoverage" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('YearlyCoverage')?.errors&& addhomeinsurance.get('YearlyCoverage')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('YearlyCoverage')?.getError('required')">Yearly Coverage is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('YearlyCoverage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('YearlyCoverage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Insurance Level</label>
            <select formControlName="InsuranceLevel" class="form-control">
                <option value="0">Basic</option>
                <option value="1">Standard</option>
                <option value="2">Premium</option>
            </select>
            <div *ngIf="addhomeinsurance.get('InsuranceLevel')?.errors&& addhomeinsurance.get('InsuranceLevel')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('InsuranceLevel')?.getError('required')">Insurance Level</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Quotation</label>
            <input min="0" formControlName="Quotation" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('Quotation')?.errors&& addhomeinsurance.get('Quotation')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('Quotation')?.getError('required')">Quotation is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('Quotation')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('Quotation')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Water Damage</label>
            <input min="0" formControlName="WaterDamage" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('WaterDamage')?.errors&& addhomeinsurance.get('WaterDamage')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('WaterDamage')?.getError('required')">Water Damage is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('WaterDamage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('WaterDamage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Glass Breakage</label>
            <input min="0" formControlName="GlassBreakage" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('GlassBreakage')?.errors&& addhomeinsurance.get('GlassBreakage')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('GlassBreakage')?.getError('required')">Glass Breakage is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('GlassBreakage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('GlassBreakage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Natural Hazard</label>
            <input min="0" formControlName="NaturalHazard" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('NaturalHazard')?.errors&& addhomeinsurance.get('GlassBreakage')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('NaturalHazard')?.getError('required')">Natural Hazard is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('NaturalHazard')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('NaturalHazard')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Attempted Theft</label>
            <input min="0" formControlName="AttemptedTheft" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('AttemptedTheft')?.errors&& addhomeinsurance.get('AttemptedTheft')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('AttemptedTheft')?.getError('required')">Attempted Theft is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('AttemptedTheft')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('AttemptedTheft')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Fires And Explosion</label>
            <input min="0" formControlName="FiresAndExplosion" type="number" class="form-control">
            <div *ngIf="addhomeinsurance.get('FiresAndExplosion')?.errors&& addhomeinsurance.get('FiresAndExplosion')?.touched">
                <span style="color: red;" *ngIf="addhomeinsurance.get('FiresAndExplosion')?.getError('required')">Fires And Explosion is required</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('FiresAndExplosion')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="addhomeinsurance.get('FiresAndExplosion')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <button [disabled]="addhomeinsurance.invalid" type="submit" class="btn btn-success d-block ms-auto">Add</button>
    </form>
</section>
