<p>healthinsurance works!</p>
<section class="p-4 rounded my-3 w-50 mx-auto">
    <form  [formGroup]="Edithealthform" (ngSubmit)="EditHealth()">
        <div class="mb-2">
            <label for="YearlyCoverage">Yearly Coverage</label>
            <input formControlName="YearlyCoverage" min="0" id="YearlyCoverage" type="number" class="form-control">
            <div *ngIf="Edithealthform.get('YearlyCoverage')?.errors&& Edithealthform.get('YearlyCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('YearlyCoverage')?.getError('required')">Yearly Coverage is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('YearlyCoverage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('YearlyCoverage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Insurance Level</label>
            <select formControlName="InsuranceLevel" class="form-control">
                <option value="0">Basic</option>
                <option value="1">Standard</option>
                <option value="2">Premium</option>
            </select>
            <div *ngIf="Edithealthform.get('InsuranceLevel')?.errors&& Edithealthform.get('InsuranceLevel')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('InsuranceLevel')?.getError('required')">Insurance Level</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Quotation</label>
            <input formControlName="Quotation" min="0" type="number" class="form-control">
            <div *ngIf="Edithealthform.get('Quotation')?.errors&& Edithealthform.get('Quotation')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('Quotation')?.getError('required')">Quotation is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('Quotation')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('Quotation')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Medical Network</label>
            <input formControlName="MedicalNetwork" min="0" type="text" class="form-control">
            <div *ngIf="Edithealthform.get('MedicalNetwork')?.errors&& Edithealthform.get('MedicalNetwork')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('MedicalNetwork')?.getError('required')">Medical Network is required</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Clinics Coverage</label>
            <input formControlName="ClinicsCoverage" min="0" type="number" class="form-control">
            <div *ngIf="Edithealthform.get('ClinicsCoverage')?.errors&& Edithealthform.get('ClinicsCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('ClinicsCoverage')?.getError('required')">Clinics Coverage is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('ClinicsCoverage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('ClinicsCoverage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Hospitalization and Surgery</label>
            <input formControlName="HospitalizationAndSurgery" min="0" type="number" class="form-control">
            <div *ngIf="Edithealthform.get('HospitalizationAndSurgery')?.errors&& Edithealthform.get('HospitalizationAndSurgery')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('HospitalizationAndSurgery')?.getError('required')">Hospitalization And Surgery is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('HospitalizationAndSurgery')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('HospitalizationAndSurgery')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Optical Coverage</label>
            <input formControlName="OpticalCoverage" min="0" type="number" class="form-control">
            <div *ngIf="Edithealthform.get('OpticalCoverage')?.errors&& Edithealthform.get('OpticalCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('OpticalCoverage')?.getError('required')">Optical Coverage is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('OpticalCoverage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('OpticalCoverage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <div class="mb-2">
            <label>Dental Coverage</label>
            <input formControlName="DentalCoverage" min="0" type="number" class="form-control">
            <div *ngIf="Edithealthform.get('DentalCoverage')?.errors&& Edithealthform.get('DentalCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithealthform.get('DentalCoverage')?.getError('required')">Dental Coverage is required</span>
                <span style="color: red;" *ngIf="Edithealthform.get('DentalCoverage')?.getError('min')">Minimun Value is Zero</span>
                <span style="color: red;" *ngIf="Edithealthform.get('DentalCoverage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
            </div>
        </div>
        <button [disabled]="Edithealthform.invalid" type="submit" class="btn btn-success d-block ms-auto">Edit</button>
    </form>
</section>

