<p>Homeinsurance works!</p>
<section class="p-4 rounded my-3 w-100 mx-auto">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content" style="display: flex;">
        <div class="signin-image">
          <figure style="margin-top: 50%; width:100%;">
            <img src="../../../../assets/img/homeinsurance2.jpg" alt="sign up image">
          </figure>
        </div>
        <div class="signin-form">
          <form [formGroup]="Edithomeform" (ngSubmit)="EditHealth()">
            <div class="mb-2">
              <label for="YearlyCoverage">Yearly Coverage</label>
              <input formControlName="YearlyCoverage" min="0" id="YearlyCoverage" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('YearlyCoverage')?.errors && Edithomeform.get('YearlyCoverage')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('YearlyCoverage')?.getError('required')">Yearly Coverage is required</span>
                <span style="color: red;" *ngIf="Edithomeform.get('YearlyCoverage')?.getError('min')">Minimum Value is Zero</span>
                <span style="color: red;" *ngIf="Edithomeform.get('YearlyCoverage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Insurance Level</label>
              <select formControlName="InsuranceLevel" class="form-control">
                <option value="0">Basic</option>
                <option value="1">Standard</option>
                <option value="2">Premium</option>
              </select>
              <div *ngIf="Edithomeform.get('InsuranceLevel')?.errors && Edithomeform.get('InsuranceLevel')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('InsuranceLevel')?.getError('required')">Insurance Level is required</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Quotation</label>
              <input formControlName="Quotation" min="0" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('Quotation')?.errors && Edithomeform.get('Quotation')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('Quotation')?.getError('required')">Quotation is required</span>
                <span style="color: red;" *ngIf="Edithomeform.get('Quotation')?.getError('min')">Minimum Value is Zero</span>
                <span style="color: red;" *ngIf="Edithomeform.get('Quotation')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Water Damage</label>
              <input formControlName="WaterDamage" min="0" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('WaterDamage')?.errors && Edithomeform.get('WaterDamage')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('WaterDamage')?.getError('required')">Water Damage is required</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Fires and Explosion</label>
              <input formControlName="FiresAndExplosion" min="0" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('FiresAndExplosion')?.errors && Edithomeform.get('FiresAndExplosion')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('FiresAndExplosion')?.getError('required')">Fires and Explosion is required</span>
                <span style="color: red;" *ngIf="Edithomeform.get('FiresAndExplosion')?.getError('min')">Minimum Value is Zero</span>
                <span style="color: red;" *ngIf="Edithomeform.get('FiresAndExplosion')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Glass Breakage</label>
              <input formControlName="GlassBreakage" min="0" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('GlassBreakage')?.errors && Edithomeform.get('GlassBreakage')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('GlassBreakage')?.getError('required')">Glass Breakage is required</span>
                <span style="color: red;" *ngIf="Edithomeform.get('GlassBreakage')?.getError('min')">Minimum Value is Zero</span>
                <span style="color: red;" *ngIf="Edithomeform.get('GlassBreakage')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Natural Hazard</label>
              <input formControlName="NaturalHazard" min="0" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('NaturalHazard')?.errors && Edithomeform.get('NaturalHazard')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('NaturalHazard')?.getError('required')">Natural Hazard is required</span>
                <span style="color: red;" *ngIf="Edithomeform.get('NaturalHazard')?.getError('min')">Minimum Value is Zero</span>
                <span style="color: red;" *ngIf="Edithomeform.get('NaturalHazard')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <div class="mb-2">
              <label>Attempted Theft</label>
              <input formControlName="AttemptedTheft" min="0" type="number" class="form-control">
              <div *ngIf="Edithomeform.get('AttemptedTheft')?.errors && Edithomeform.get('AttemptedTheft')?.touched">
                <span style="color: red;" *ngIf="Edithomeform.get('AttemptedTheft')?.getError('required')">Attempted Theft is required</span>
                <span style="color: red;" *ngIf="Edithomeform.get('AttemptedTheft')?.getError('min')">Minimum Value is Zero</span>
                <span style="color: red;" *ngIf="Edithomeform.get('AttemptedTheft')?.getError('max')">Maximum Value is 1.7976931348623157e+308</span>
              </div>
            </div>
            <button [disabled]="Edithomeform.invalid" type="submit" class="btn btn-success d-block ms-auto">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
